<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list3" href="/tabs/list3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Ideation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list2" href="/tabs/list2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>GUI</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list1" href="/tabs/list1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Final</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
